@import url('./reset.scss');
@import url('./atomic.scss');
@import url('./variable.scss');

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
  font-family: "Wotfard","Wotfard-fallback",sans-serif;
}
@font-face {
  font-family: 'Baloo-Bold';
  src: url('https://suminhan.cn/assets/fonts/Baloo2-Bold.ttf');
}
@font-face {
  font-family: 'ChenYuluoyan-Thin';
  src: url('https://suminhan.cn/assets/fonts/ChenYuluoyan-Thin.ttf');
}
@font-face {
  font-family: 'Momozhuanji';
  src: url('Momozhuanji.ttf');
}