body{
    margin: 0;
    padding: 0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
a {
    margin: 0;
    padding: 0;
}
ul{
    padding-left: 1em;
    li{
        text-indent: 0.5em;
    }
}
a {
    list-style: none;
    text-decoration: none;
}


