// 定位
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.sticky {
    position: sticky;
}
.fixed {
    position: fixed;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.none {
    display: none;
}

//布局
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: start;
}
.items-end {
    align-items: end;
}
.justify-center{
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}
.both-center {
    align-items: center;
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.shrink-0 {
    flex-shrink: 0;
}
.gap-4 {
    gap: 4px;
}
.gap-8 {
    gap: 8px;
}
.gap-12 {
    gap: 12px;
}
.gap-24 {
    gap: 24px;
}
.gap-32 {
    gap: 32px;
}
.grid {
    display: grid;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 14px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.1);
        display: none;
    }
    &:hover::-webkit-scrollbar-thumb {
        display: block;
    }
}
.scrollbar-none {
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    scrollbar-width: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

//边距
.p-4 {
    padding: 4px;
}
.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.pt-4 {
    padding-top: 4px;
}
.pb-4 {
    padding-bottom: 4px;
}
.pl-4 {
    padding-left: 4px;
}
.pr-4 {
    padding-right: 4px;
}
.p-8 {
    padding: 8px;
}
.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.pt-8 {
    padding-top: 8px;
}
.pb-8 {
    padding-bottom: 8px;
}
.pl-8 {
    padding-left: 8px;
}
.pr-8 {
    padding-right: 8px;
}
.p-12 {
    padding: 12px;
}
.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}
.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.pt-12 {
    padding-top: 12px;
}
.pb-12 {
    padding-bottom: 12px;
}
.pl-12 {
    padding-left: 12px;
}
.pr-12 {
    padding-right: 12px;
}
.p-16 {
    padding: 16px;
}
.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}
.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.pt-16 {
    padding-top: 16px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pl-16 {
    padding-left: 16px;
}
.pr-16 {
    padding-right: 16px;
}
.p-24 {
    padding: 24px;
}
.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}
.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
.pt-24 {
    padding-top: 24px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pl-24 {
    padding-left: 24px;
}
.pr-24 {
    padding-right: 24px;
}
.p-32 {
    padding: 32px;
}
.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}
.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}
.pt-32 {
    padding-top: 32px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pl-32 {
    padding-left: 32px;
}
.pr-32 {
    padding-right: 32px;
}
.-mt-1 {
    margin-top: -1px;
}
.-ml-1 {
    margin-left: -1px;
}
.m-4 {
    margin: 4px;
}
.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}
.my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.mt-4 {
    margin-top: 4px;
}
.-mt-4 {
    margin-top: -4px;
}
.mb-4 {
    margin-bottom: 4px;
}
.ml-4 {
    margin-left: 4px;
}
.mr-4 {
    margin-right: 4px;
}
.m-8 {
    margin: 8px;
}
.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}
.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.mt-8 {
    margin-top: 8px;
}
.-mt-8 {
    margin-top: -8px;
}
.mb-8 {
    margin-bottom: 8px;
}
.ml-8 {
    margin-left: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.m-12 {
    margin: 12px;
}
.mx-12 {
    margin-left: 12px;
    margin-right: 12px;
}
.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.mt-12 {
    margin-top: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}
.ml-12 {
    margin-left: 12px;
}
.mr-12 {
    margin-right: 12px;
}
.m-16 {
    margin: 16px;
}
.mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}
.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.mt-16 {
    margin-top: 16px;
}
.mb-16 {
    margin-bottom: 16px;
}
.ml-16 {
    margin-left: 16px;
}
.mr-16 {
    margin-right: 16px;
}
.mt-24 {
    margin-top: 24px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mt-32 {
    margin-top: 32px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}


//大小
.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}
.width-100vw {
    width: 100vw;
}
.height-100vh {
    height: 100vh;
}
.ratio-1 {
    aspect-ratio: 1;
}
.fit-content {
    width: fit-content;
}
//圆角
.border {
    border: 1px solid var(--color-border-1);
}
.border-primary{
    border: 1px solid#0AA344;
}
.border-dash {
    border: 1px dashed var(--color-border-1);
}
.border-white {
    border-color: var(--color-bg-white);
}
.border-top{
    border-right: 1px solid var(--color-border-1);
}
.border-left{
    border-left: 1px solid var(--color-border-1);
}
.border-right{
    border-right: 1px solid var(--color-border-1);
}
.border-bottom{
    border-right: 1px solid var(--color-border-1);
}
.border-left{
    border-right: 1px solid var(--color-border-1);
}

.border-2 {
    border-width: 2px;
}
.radius-2 {
    border-radius: 2px;
}
.radius-4 {
    border-radius: 4px;
}
.radius-6 {
    border-radius: 6px;
}
.radius-8 {
    border-radius: 8px;
}
.radius-10 {
    border-radius: 10px;
}
.radius-12 {
    border-radius: 12px;
}
.radius-24 {
    border-radius: 24px;
}
.radius-50 {
    border-radius: 50%;
}

//字体
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
}
.fs-32 {
    font-size: 32px;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.color-gray-1 {
    color: var(--color-text-1);
}
.color-gray-2 {
    color: var(--color-text-2);
}
.color-gray-3 {
    color: var(--color-text-3);
}
.color-gray-4 {
    color: var(--color-text-4);
}
.color-white {
    color: var(--color-bg-white);
}
.color-primary{
    color: var(--color-primary-6);
}
.text-center {
    text-align: center;
}
.opacity-0 {
    opacity: 0;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

//背景
.bg-white {
    background-color: white;
}
.bg-gray{
    background-color: var(--color-bg-1);
}
.bg-primary {
    background-color: #0AA344;
}

// transform
.rotate-90 {
    transform: rotate(90deg);
}
.-rotate-90 {
    transform: rotate(-90deg);
}
.rotate-180 {
    transform: rotate(180deg);
}
.-rotate-180 {
    transform: rotate(-180deg);
}
.translate-y-2 {
    transform: translateY(-2px);
}
.translate-y-4 {
    transform: translateY(-4px);
}
.hover-translate-y-2 {
    &:hover {
        transform: translateY(-2px);
    }
}
.hover-translate-y-4 {
    &:hover {
        transform: translateY(-4px);
    }
}

/****** 特殊 ******/
// hover显示气泡
.hover-pop {
    &:hover{
        .land-pop{
            opacity: 1;
            transform: translate(-50%,-16px);
            pointer-events: all;
        }
    }
}

.bg-hover-gray {
    background-color: var(--color-bg-1);
    transition: background-color var(--transition-2) linear;
    will-change: background-color;
    &:hover {
      background-color: var(--color-bg-1);
    }
    &:active {
      background-color: var(--color-bg-3);
    }
}
